<script type="text/javascript">
    var id          = <?= $id ?>;
    var etapaUno    = <?= $etapaUno ?>;
    var etapaDos    = <?= $etapaDos ?>;
    var etapaTres   = <?= $etapaTres ?>;
    var etapaCuatro = <?= $etapaCuatro ?>;
    var etapaCinco  = <?= $etapaCinco ?>;

    $(window).on('load', function() {
        $("#Form-field-Recurso-comentario").val("");

        //$('.loading-indicator-container button').attr("disabled", true);

        $('input[type=checkbox]').on('change',function()
        {
            if($("#Form-field-Recurso-comentario").val().length < 3)
            {
                $('.loading-indicator-container button').attr("disabled", true);
                $("#Form-field-Recurso-comentario").css("display","inherit");
            }

        });

        $("#Form-field-Recurso-comentario").on('change keyup',function()
        {
            if($(this).val().length > 3)
            {
                $('.loading-indicator-container button').attr("disabled", false);
            }else
            {
                $('.loading-indicator-container button').attr("disabled", true);
            }
        });

        $.ajax(
            {
                  url:   '/backend/ceibal/reaflujo/gethistorial?id=' + id,
                  beforeSend: function ()
                  {

                  },
                  success:  function (response)
                  {
                      var count = 0;
                      var arrClass = new Array('fdoBlanco','fdoGris');

                      for (var log of response)
                      {
                          var comentarioStr = '';
                          if(log.comentario)
                          {
                              comentarioStr = '  <br /><strong>Comentario: </strong>' + log.comentario;
                          }

                          $('.logs').append('<li class="' + arrClass[count] + '"><p><strong>Etapa de recurso: </strong>'+ log.estado + ' <strong>Usuario: </strong>' + log.first_name + " " + log.last_name + ' <strong>Fecha: </strong>' + log.created + comentarioStr + '</p></li>')
                          if(count)
                          {
                              count = 0;
                          }else
                          {
                              count = 1;
                          }
                      }
                  }
            });
    });

</script>
<style media="screen">
    .logs
    {
        margin:0;
        padding:0;
        max-height: 300px;
        overflow:hidden;
        overflow-y: auto;
        border: 1px solid #ccc;
    }

    .logs li
    {
        margin: 0;
        padding: 6px;
        list-style-type:none;
        border-top: 1px solid #ccc;
        border-right: 1px solid #ccc;
    }

    .logs p
    {
        padding: 0;
        margin: 0;
    }

    .fdoBlanco
    {
        background: #fff;
    }

    .fdoGris
    {
        background: #eaeaea;
    }

    .comentario
    {
        margin: 20px 0;
        padding: 10px;
        width:100%;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }

    .hidden
    {
        /*display: none;*/
    }

    #Form-field-Recurso-comentario
    {
        display:none;
    }
</style>
<ul class="logs">

</ul>
