<div data-control="toolbar">
    <a href="<?= Backend::url('ceibal/rea/categorias/create' ) ?>" class="btn btn-primary oc-icon-plus">Crear Categoría</a>
    <a href="<?= Backend::url('ceibal/rea/categorias/reorder') ?>" class="btn btn-default oc-icon-bars">Reordenar Categorías</a>
</div>
