<?php foreach ($records as $record): ?>

    <li data-record-id="<?= $record->id ?>">
        <div class="record">
            <a href="javascript:;" class="move"></a>
            <span><?= $record->nombre ?></span>
        </div>

        <ol>
            <?php if ($record->children): ?>
                <?= $this->makePartial('reorder_records', ['records' => $record->children]) ?>
            <?php endif ?>
        </ol>

    </li>

<?php endforeach ?>