{% if results.total > 1 %}

    <ul class="pagination justify-content-center">

        {% if results.currentPage > 1 %}
            <li class="page-item"><a class="page-link" href="{{ '' |page }}?q={{ this.page.q }}&page={{ results.currentPage-1}}&a={{ this.page.a }}&c={{ this.page.c }}&n={{ this.page.n }}&e={{ this.page.e }}&cc={{ this.page.cc }}">
                <span aria-hidden="true">&laquo;</span>
                <span class="sr-only">Previous</span>
            </a></li>
        {% else %}
            <li class="page-item disabled"><a class="page-link" href="#">
                <span aria-hidden="true">&laquo;</span>
                <span class="sr-only">Previous</span>
            </a></li>
        {% endif %}

        {% for page in 1..results.lastPage %}
            <li class="page-item {{ results.currentPage == page ? 'active' : null }}">
                <a class="page-link" href="{{ ''|page }}?q={{ this.page.q }}&page={{ page }}&a={{ this.page.a }}&c={{ this.page.c }}&n={{ this.page.n }}&e={{ this.page.e }}&cc={{ this.page.cc }}">{{ page }}</a>
            </li>
        {% endfor %}

        {% if results.lastPage > results.currentPage %}
            <li class="page-item"><a class="page-link" href="{{ ''|page }}?q={{ this.page.q }}&page={{ results.currentPage+1}}&a={{ this.page.a }}&c={{ this.page.c }}&n={{ this.page.n }}&e={{ this.page.e }}&cc={{ this.page.cc }}">
                <span aria-hidden="true">&raquo;</span>
                <span class="sr-only">Next</span>
            </a></li>
        {% else %}
        <li class="page-item disabled"><a class="page-link" href="#">
            <span aria-hidden="true">&raquo;</span>
            <span class="sr-only">Next</span>
        </a></li>
        {% endif %}

    </ul>

{% endif %}
