<style>
    .form-container{
        display: flex;
        flex-direction: column;
        width: 100%;
        max-width: 800px;
        margin: 0 auto;
    }
    .form-container div{
        width: 100%;
        margin: 10px 0;
    }
    .select2-container{
        width: 100% !important;
    }
</style>
<div class="col-lg-12">

    <div data-control="toolbar">
        <?php
        $context = BackendMenu::getContext();
    ?>

        <?php
            $usuarios = DB::table('backend_users')->get();
        $idUser = "";
        if(isset($_GET['u']) && !empty($_GET['u']))
        {
        $idUser = $_GET['u'];
        }

        $etapas = DB::table('rea_plugin_etapa')->get();
        $idEtapa = "";
        if(isset($_GET['e']) && !empty($_GET['e']))
        {
        $idEtapa = $_GET['e'];
        }


        $idNivel = "";
        if(isset($_GET['n']) && !empty($_GET['n']))
        {
        $idNivel = $_GET['n'];
        }


        $categorias = DB::table('ceibal_rea_categorias')->get();
        $idCategoria = "";
        if(isset($_GET['cat']) && !empty($_GET['cat']))
        {
        $idCategoria = $_GET['cat'];
        }
        ?>
        <form class="" action="/backend/ceibal/rea/recursosusuario/onExport" method="post">
            <div class="form-container">
                <div>
                    <h3>Exportar Recursos</h3>
                </div>
                <div>
                    <select class="form-control custom-select usuarios-select" name="usuarios">
                        <option value="0">Todos los usuarios</option>
                        <?php foreach($usuarios as $usuario){ ?>
                        <option <?php if($idUser == $usuario->id){echo "selected"; } ?> value="<?= $usuario->id; ?>"><?= $usuario->first_name." ".$usuario->last_name; ?></option>
                        <?php } ?>
                    </select>
                    </div>
                <div>
                    <select class="form-control custom-select etapas-select" name="etapas" id="etapas">
                        <option value="0">Todas las etapas</option>
                        <?php foreach($etapas as $etapa){ ?>
                        <option <?php if($idEtapa == $etapa->id){echo "selected"; } ?> value="<?= $etapa->id; ?>"><?= $etapa->descripcion; ?></option>
                        <?php } ?>
                    </select>
                </div>
                <div>
                    <select class="form-control custom-select niveles-select" name="niveles">
                        <option value="0">Todos los niveles</option>
                        <option <?php if($idNivel == 1){echo "selected"; } ?> value="1">Nivel 1</option>
                        <option <?php if($idNivel == 2){echo "selected"; } ?> value="2">Nivel 2</option>
                    </select>
                </div>
                <div>
                    <select class="form-control custom-select categorias-select" name="categorias">
                        <option value="0">Todas las categorías</option>
                        <?php foreach($categorias as $categoria){ ?>
                        <option <?php if($idCategoria == $categoria->id){echo "selected"; } ?> value="<?= $categoria->id; ?>"><?= $categoria->nombre; ?></option>
                        <?php } ?>
                    </select>
                </div>
                <div>
                    <button type="submit" class="btn btn-primary oc-icon-download">
                        Exportar
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>

