description = "Header del sitio REA"
==
<header class="cd-main-header">
    <a class="cd-logo" href="/"><img src="{{'assets/images/logo-rea.svg'|theme}}" alt="Logo"></a>
    <ul class="cd-header-buttons">
        <li><a class="cd-nav-trigger menu-cat" href="#cd-primary-nav"><span></span></a></li>
        <li><a class="cd-search-trigger" href="#cd-search">Search<span></span></a></li>
    </ul>
</header>