description = "Header inferior del sitio REA"
==
<?php
use Ceibal\Rea\Models\Categoria;

function onStart()
{
    $catsPadre      = Categoria::whereNotNull('parent_id')->get();
    $arrIdsCatPadre = [];

    foreach ($catsPadre as $cat)
    {
      $arrIdsCatPadre[$cat->parent_id] = $cat->parent_id;
    }

    $this["catsPadre"] = Categoria::find($arrIdsCatPadre);

    $cats = [];
    foreach ($arrIdsCatPadre as $cat)
    {
      $cats[$cat] = Categoria::where("parent_id",$cat)->get();
    }

    $this["cats"] = $cats;

    $countPadres = count($arrIdsCatPadre);
    $catsPadreCols = array_chunk($arrIdsCatPadre, (ceil($countPadres/2)));

    $this["catsPadreCol1"] = Categoria::find($catsPadreCols[0]);
    $this["catsPadreCol2"] = Categoria::find($catsPadreCols[1]);
}
?>
==
<div class="cd-overlay"></div>

<nav class="cd-nav">
    <ul id="cd-primary-nav" class="cd-primary-nav is-fixed">
        <li class="has-children">
            <a id="btn-repositorio" class="desktop-menu" href="#">Repositorio</a>
            <ul class="cd-secondary-nav is-hidden desktop-menu">

                <li class="has-children">
                    <ul>
                        <li class="go-back"><a href="#0">Volver</a></li>
                        <li class="has-children">
                            <a href="/acerca-de">Quiénes somos</a>
                            <a href="/comunidad">Comunidad</a>
                            <a href="/como-funciona">Cómo funciona</a>
                            <a href="/ayuda">Ayuda</a>
                            <a href="https://bitbucket.org/ceibal/rea-web/src/master/" target="_blank">Código</a>
                        </li>
                    </ul>

                </li>
            </ul>

            <ul class="responsive-menu">

                {% if(catsPadreCol1) %}

                <li class="has-children">
                    <ul>
                        <li class="go-back cerrar"><a href="#">Cerrar</a></li>
                        {% for cat in catsPadreCol1 %}
                        <li class="has-children">
                            <a href="#0">{{cat.nombre}}</a>
                            <ul class="is-hidden">
                                <li class="go-back"><a href="#0"></a></li>
                                {% for subcat in cats[cat.id] %}
                                <li><a href="/categoria/{{subcat.slug}}">{{subcat.nombre}}</a></li>
                                {% endfor %}
                            </ul>
                        </li>

                        {% endfor %}
                        {% for cat in catsPadreCol2 %}
                        <li class="has-children">
                            <a href="#0">{{cat.nombre}}</a>
                            <ul class="is-hidden">
                                <li class="go-back"><a href="#0"></a></li>
                                {% for subcat in cats[cat.id] %}
                                <li><a href="/categoria/{{subcat.slug}}">{{subcat.nombre}}</a></li>
                                {% endfor %}
                            </ul>
                        </li>

                        {% endfor %}
                        <!--<li><a href="/colecciones">Colecciones</a></li>-->
                        <li><a  href="/ranking">Ranking</a></li>
                        <li><a href="/preguntas-frecuentes">FAQs</a></li>
                    </ul>

                </li>

                {% endif %}


            </ul>
        </li>
        <li class="has-children">
            <a id="btn-categorias" class="desktop-menu" href="#">Categorías</a>
            <ul class="cd-secondary-nav is-hidden desktop-menu">
                <li class="see-all"><a href="/reas">Todas las categorías</a></li>
                {% if(catsPadreCol1) %}
                  <li class="has-children">
                      <ul>
                        <li class="go-back"><a href="#0">Volver</a></li>
                        {% for cat in catsPadreCol1 %}
                          <li class="has-children">
                              <a href="#0">{{cat.nombre}}</a>
                              <ul class="is-hidden">
                                  <li class="go-back"><a href="#0"></a></li>
                                  {% for subcat in cats[cat.id] %}
                                    <li><a href="/categoria/{{subcat.slug}}">{{subcat.nombre}}</a></li>
                                  {% endfor %}
                              </ul>
                          </li>

                          {% endfor %}
                      </ul>

                  </li>

                {% endif %}

                {% if(catsPadreCol2) %}

                  <li class="has-children">
                      <ul>
                        <li class="go-back"><a href="#0">Volver</a></li>
                        {% for cat in catsPadreCol2 %}
                          <li class="has-children">
                              <a href="#0">{{cat.nombre}}</a>
                              <ul class="is-hidden">
                                  <li class="go-back"><a href="#0"></a></li>
                                  {% for subcat in cats[cat.id] %}
                                    <li><a href="/categoria/{{subcat.slug}}">{{subcat.nombre}}</a></li>
                                  {% endfor %}
                              </ul>
                          </li>

                          {% endfor %}
                      </ul>

                  </li>

                {% endif %}
            </ul>

            <ul class="responsive-menu">



                {% if(catsPadreCol1) %}

                  <li class="has-children">
                      <ul>
                        <li class="go-back cerrar"><a href="#">Cerrar</a></li>
                        {% for cat in catsPadreCol1 %}
                          <li class="has-children">
                              <a href="#0">{{cat.nombre}}</a>
                              <ul class="is-hidden">
                                  <li class="go-back"><a href="#0"></a></li>
                                  {% for subcat in cats[cat.id] %}
                                    <li><a href="/categoria/{{subcat.slug}}">{{subcat.nombre}}</a></li>
                                  {% endfor %}
                              </ul>
                          </li>

                          {% endfor %}
                          {% for cat in catsPadreCol2 %}
                            <li class="has-children">
                                <a href="#0">{{cat.nombre}}</a>
                                <ul class="is-hidden">
                                    <li class="go-back"><a href="#0"></a></li>
                                    {% for subcat in cats[cat.id] %}
                                      <li><a href="/categoria/{{subcat.slug}}">{{subcat.nombre}}</a></li>
                                    {% endfor %}
                                </ul>
                            </li>

                            {% endfor %}
                            <!--<li><a href="/colecciones">Colecciones</a></li>-->
                            <li><a  href="/ranking">Ranking</a></li>
                            <li><a href="/preguntas-frecuentes">FAQs</a></li>
                      </ul>
                  </li>
                {% endif %}
            </ul>
        </li>
        <!--<li><a  href="/colecciones">Colecciones</a></li>-->
        <li><a  href="/ranking">Ranking</a></li>
        <li><a  href="/preguntas-frecuentes">FAQs</a></li>
    </ul> <!-- primary-nav -->
</nav> <!-- cd-nav -->

<div id="cd-search" class="cd-search">
   {% component 'buscador' %}
</div>