title = "Atención"
url = "/404"
layout = "page"
is_hidden = 0

[buscador]
useAutoComplete = 1
autoCompleteResultCount = 5
showProviderBadge = 1
searchPage = "Busqueda.htm"
==
<?php
function onInit()
    {
        header("HTTP/1.0 404 Not Found");
        $this->page->title = "Atención";
    }
?>
==
<p>En este momento el repositorio está siendo actualizado y por lo tanto algunos recursos pueden haber cambiado su Url o estar en proceso de revisión.</p>

<p>Para acceder al recurso comunícate a <a href="mailto:contenidistas@ceibal.edu.uy">contenidistas@ceibal.edu.uy</a>

<br/><br/>Equipo REA. </p>
