<a onClick="showPreview()" id="preview" target="_blank" class="btn btn-primary oc-icon-crosshairs" >Preview</a>
<script type="text/javascript">
    function showPreview(){
        var slug = $("#Form-field-Recurso-slug").val();
        window.open("/rea/"+slug,'_blank');
    }

    $("document").ready(function()
    {
            var slug = $("#Form-field-Recurso-slug").val();

            if(!slug || slug == "")
            {
                $("#preview").css("display","none");
            }
    });
</script>
