Description = "Default layout sin fondo"
==
<!DOCTYPE html>
<html lang="es">

    <head>
        <!-- Required meta tags -->
        <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>{{ this.page.title }} | REA</title>
        <link rel="shortcut icon" href="{{ 'assets/images/favicon.ico'|theme }}" type="image/vnd.microsoft.icon" id="favicon" />
        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="{{ 'assets/css/bootstrap.min.css'|theme }}" >
        <link rel="stylesheet" href="{{ 'assets/css/font-awesome.min.css'|theme }}" >
        <link href="https://fonts.googleapis.com/css?family=Raleway:300,300i,400,600,600i,700,700i,900,900i" rel="stylesheet"><!-- Raleway -->
        <link rel="stylesheet" href="{{ 'assets/css/menu.css'|theme }}" >
        <link rel="stylesheet" href="{{ 'assets/css/rea.css'|theme }}" >


        <link rel="stylesheet" href="/plugins/ceibal/rearatings/assets/dist/starrr.css">



        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-9349693-43"></script>
        <script>
          window.dataLayer = window.dataLayer || [];
          function gtag(){dataLayer.push(arguments);}
          gtag('js', new Date());

          gtag('config', 'UA-9349693-43');
        </script>
    </head>

    <body>

        {% partial "header" %}

        <main class="cd-main-content">

            {% page %}

        </main>

        {% partial "header_bottom" %}

        {% partial "footer" %}

        <script src="{{ 'assets/js/modernizr.js'|theme }}" ></script>
        <script src="{{ 'assets/js/jquery-2.1.1.min.js'|theme }}" ></script>
        <script src="{{ 'assets/js/jquery.mobile.custom.min.js'|theme }}" ></script>
        <script src="{{ 'assets/js/tether.min.js'|theme }}" ></script>
        <script src="{{ 'assets/js/bootstrap.min.js'|theme }}" ></script>
        <script src="{{ 'assets/js/menu.js'|theme }}" ></script>


        <script type="text/javascript" src="/plugins/ceibal/rearatings/assets/dist/starrr.js"></script>
        <script type="text/javascript" src="/plugins/ceibal/rearatings/assets/js/reareating.js"></script>


    </body>

</html>
