==
<!DOCTYPE html>
<html lang="es">

    <head>
        <!-- Required meta tags -->
        <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="El repositorio de Recursos educativos abiertos (REA) de Ceibal es una plataforma que alberga los REA construidos por los contenidistas de Ceibal y por la comunidad educativa; su misión no solamente es hacer de depósito, sino el ser un espacio para el intercambio de recursos y materiales pedagógicos facilitando la adaptación de estos y la interacción entre distintas comunidades de práctica.">
        <title>{{ this.page.title }} | REA</title>
        <link rel="shortcut icon" href="{{ 'assets/images/favicon.ico'|theme }}" type="image/vnd.microsoft.icon" id="favicon" />
        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="{{ 'assets/css/bootstrap.min.css'|theme }}" >
        <link rel="stylesheet" href="{{ 'assets/css/font-awesome.min.css'|theme }}" >
        <link href="https://fonts.googleapis.com/css?family=Raleway:300,300i,400,600,600i,700,700i,900,900i" rel="stylesheet"><!-- Raleway -->
        <link rel="stylesheet" href="{{ 'assets/css/menu.css'|theme }}" >
        <link rel="stylesheet" href="{{ 'assets/css/rea.css'|theme }}" >

        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-9349693-43"></script>
        <script>
          window.dataLayer = window.dataLayer || [];
          function gtag(){dataLayer.push(arguments);}
          gtag('js', new Date());

          gtag('config', 'UA-9349693-43');
        </script>
    </head>
    <body>
        {% partial "header" %}
        {% partial "recurso-destacado" %}
        <div class="container-fluid container-home">
            {% page %}
        </div>
        {% partial "header_bottom" %}
        {% partial "footer" %}
        <script src="{{ 'assets/js/modernizr.js'|theme }}" ></script>
        <script src="{{ 'assets/js/jquery-2.1.1.min.js'|theme }}" ></script>
        <script src="{{ 'assets/js/jquery.mobile.custom.min.js'|theme }}" ></script>
        <script src="{{ 'assets/js/tether.min.js'|theme }}" ></script>
        <script src="{{ 'assets/js/bootstrap.min.js'|theme }}" ></script>
        <script src="{{ 'assets/js/menu.js'|theme }}" ></script>

    </body>

</html>