<table style="font-family:'Roboto',sans-serif;border-spacing:0;width:685px" border="0">
    <tbody>
    <tr style="height:95px;border-bottom:7px solid #709e38">
        <td style="background-color:#ecedef;width:100%" colspan="6">
            <!--<img style="text-decoration:none;border:none;height:55px;margin-left:65px;display:block" title="Plan Ceibal" alt="Plan Ceibal" src="https://ci4.googleusercontent.com/proxy/8VCoxHVVr0K0q8Sepah5T6k-LYRNiqJbolF7nd8VQo0S61WEBHYUI0qo7joGMBRQg0usiktB88MVhf7SLSCQY1sq8A=s0-d-e1-ft#https://ingreso.ceibal.edu.uy/images/logo.png" class="CToWUd">-->
            <img style="text-decoration:none;border:none;height:55px;margin-left:65px;display:block"
                 title="{{ recurso }}" alt="{{ recurso }}"
                 src="{{ imagen['path'] }}" class="CToWUd">
        </td>
    </tr>
    <tr>
        <td style="color:#4c4c4c;padding:0 65px;font-size:15px;margin-bottom:25px;height:100px;padding-bottom:0;vertical-align:text-top;padding-top:20px" colspan="6">
            <p>Hola, {{ name }},</p>
            <p>Tienes este recurso "{{ recurso }}" (<a style="color:#000;" href="{{ link }}">ver entrada</a>) {{ estado }}.</p>
            <p>Muchas gracias,</p>
            <p>Admin Rea</p>


        </td>
    </tr>
    <tr style="height:5px;margin-top:20px;padding-top:20px">
        <td style="background-color:#2d73b5"></td>
        <td style="background-color:#20a29b"></td>
        <td style="background-color:#98bf13"></td>
        <td style="background-color:#f6b63e"></td>
        <td style="background-color:#e76114"></td>
        <td style="background-color:#e63251"></td>
    </tr>
    <tr style="height:25px">
        <td style="background-color:#ecedef;width:100%;padding-left:65px;font-size:10px" colspan="6">
            <span style="display:inline">Plan Ceibal - </span>
            <span style="display:inline"><a href="https://maps.google.com/?q=Av.+Italia+6201&amp;entry=gmail&amp;source=g" target="_blank" data-saferedirecturl="https://www.google.com/url?hl=es&amp;q=https://maps.google.com/?q%3DAv.%2BItalia%2B6201%26entry%3Dgmail%26source%3Dg&amp;source=gmail&amp;ust=1532695922184000&amp;usg=AFQjCNF7Ykqd0BuqPdqD5Qvt7M6oE73GWg">Av. Italia 6201</a> - </span>
            <span style="display:inline"> Edificio Los Ceibos - </span>
            <span style="display:inline">0800 2342 / *2342 - </span>
            <span style="display:inline">Montevideo, Uruguay - </span>
            <span style="display:inline"><a href="mailto:contacto@ceibal.edu.uy" target="_blank">contacto@ceibal.edu.uy</a></span>
        </td>
    </tr>
    </tbody>
</table>
</body>
