{% put styles %}
    <link href="plugins/ceibal/rearatings/assets/dist/star-rating.css" rel="stylesheet">
    <link rel="stylesheet" href="plugins/ceibal/rearatings/assets/dist/starrr.css">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.2.0/css/font-awesome.min.css">
{% endput %}
<select id="666" class="star-rating" >
    <option value="">Select a rating</option>
    <option value="6">6</option>
    <option value="5">5</option>
    <option value="4">4</option>
    <option value="3">3</option>
    <option value="2">2</option>
    <option value="1">1</option>
</select>

<div class='starrr' id='666' data-promedio='3' ></div>
<div>&nbsp;
  <span class='your-choice-was' style='display: none;'>
    Your rating was <span class='choice'></span>.
  </span>
</div>

{% put scripts %}
    <script type="text/javascript" src="plugins/ceibal/rearatings/assets/dist/starrr.js"></script>
    <script type="text/javascript" src="plugins/ceibal/rearatings/assets/dist/star-rating.min.js"></script>
    <script type="text/javascript" src="plugins/ceibal/rearatings/assets/js/reareating.js"></script>
{% endput %}
